<!doctype html>
<html>
 <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Opdracht Include</title>
        <link rel="stylesheet" href="view/css/style.css">
    </head>
    <body>
    <h1><a href="">Daily PHP</a></h1>
 <header>
 	<nav class="navigation">
 	    <ul>
 	        <li><a href="#">Nieuws</a></li>
 	        <li><a href="#">Onze Redactie</a></li>
 	        <li><a href="#">Contact</a></li>
 	    </ul>
 	</nav>
 </header>
