html{
	font-family: sans-serif;
}
body{
	font-family: Avenir;
}
table{
	border-collapse: collapse;
}
th, td{
	padding: 10px;
	border: 1px solid #999;
}
tr:nth-child(2n) {
  background:#f0f0f0;
}
thead{
	text-align: center;
	background-color: lightgray;
}

button{
	outline: none;
	width: 20px;
	height: 20px;
	background-image: url('icon-delete.png');
}